Pyrebase==3.0.27
chardet==2.2.1
colorama==0.2.5
command-not-found==0.3
gcloud==0.17.0
googleapis-common-protos==1.5.3
html5lib==0.999
httplib2==0.10.3
jws==0.1.3
language-selector==0.1
oauth2client==3.0.0
protobuf==3.4.0
pyasn1==0.3.7
pyasn1-modules==0.1.4
pycryptodome==3.4.3
pycurl==7.19.3
pygobject==3.12.0
pysolr==3.6.0
python-apt==0.9.3.5ubuntu2
python-jwt==2.0.1
requests==2.11.1
requests-toolbelt==0.7.0
rsa==3.4.2
six==1.11.0
ufw==0.34-rc-0ubuntu2
unattended-upgrades==0.1
urllib3==1.24.2
watson-developer-cloud==0.25.2
wheel==0.24.0
